<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<!-- Profile with online repositories required by BRMS/BPMS -->
		<profile>
			<id>brms-bpms-online-profile</id>
			<repositories>
				<repository>
					<id>jboss-ga-repository</id>
					<url>http://maven.repository.redhat.com/techpreview/all</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jboss-public-repository</id>
					<url>http://repository.jboss.org/nexus/content/repositories/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-ga-plugin-repository</id>
					<url>http://maven.repository.redhat.com/techpreview/all</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>jboss-public-plugin-repository</id>
					<url>http://repository.jboss.org/nexus/content/repositories/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<!-- STARTING REMOTE MAVEN REPOSITORY -->
		<profile>
		      <id>bpms-xpaas</id>
		    <activation>
		      <activeByDefault>true</activeByDefault>
		    </activation>
		      <repositories>
			<repository>
			  <id>bpms-xpaas</id>
			  <name>BPMS xPaaS Repository</name>
			  <url>http://bpms-wsiqueir.rhcloud.com/business-central/maven2/</url>
			  <layout>default</layout>
			  <releases>
			    <enabled>true</enabled>
			    <updatePolicy>always</updatePolicy>
			  </releases>
			  <snapshots>
			    <enabled>true</enabled>
			    <updatePolicy>always</updatePolicy>
			  </snapshots>
			</repository>
		      </repositories>
		    </profile>
		<!-- ENDING REMOTE MAVEN REPOSITORY -->
		<profile>
			<id>redhat-techpreview-all-repository</id>
			<repositories>				
				<repository>
					<id>redhat-techpreview-all-remote</id>
					<name>Red Hat Tech Preview repository (all)</name>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>redhat-techpreview-all-remote</id>
					<name>Red Hat Tech Preview repository (all)</name>
					<url>http://maven.repository.redhat.com/techpreview/all/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>jboss-public-repository</id>
			<repositories>
				<repository>
					<id>jboss-public-repository</id>
					<name>JBoss Public</name>
					<url>https://repository.jboss.org/nexus/content/groups/public-jboss/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-public-repository</id>
					<name>JBoss Public</name>
					<url>https://repository.jboss.org/nexus/content/groups/public-jboss/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
<!-- STARTING MY NEXUS 		
		<profile>
			<id>my-repo-profile</id>
			<repositories>
				<repository>
					<id>my-repo</id>
					<name>My Repo Public</name>
					<url>http://localhost:8081/nexus/content/groups/public/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
 FINISHING MY NEXUS -->		
	</profiles>
	<servers>
		<server>
			<id>guvnor-m2-repo</id>
			<username>jesuino</username>
			<password>redhat2014!</password>
			<configuration>
				<wagonProvider>httpclient</wagonProvider>
				<httpConfiguration>
					<all>
						<usePreemptive>true</usePreemptive>
					</all>
				</httpConfiguration>
			</configuration>
		</server>
		<server>
			<id>bpms-xpaas</id>
			<configuration>
				<httpConfiguration>
					<get>
					<useDefaultHeaders>false</useDefaultHeaders>
						<headers>
							<header>
							    <name>Authorization</name>
							    <value>Basic YnBtLWFkbWluOkFzbk5fbHV1RFctRQ==</value>
							</header>
						</headers>
					</get>  
				</httpConfiguration>
			</configuration>
			<!--
			<configuration>
				<httpHeaders>
				  <property>
				    <name>Authorization</name>
				    <value>Basic YnBtLWFkbWluOkFzbk5fbHV1RFctRQ==</value>
				  </property>
				</httpHeaders>
			</configuration>		
			<username>bpm-admin</username>
			<password>AsnN_luuDW-E</password>
			<configuration>
				<wagonProvider>httpclient</wagonProvider>
				<httpConfiguration>
					<all>
						<usePreemptive>true</usePreemptive>
					</all>
				</httpConfiguration>
			</configuration> -->
		</server>
	</servers>
	<activeProfiles>
		<activeProfile>redhat-techpreview-all-repository</activeProfile>
		<activeProfile>jboss-public-repository</activeProfile>
	</activeProfiles>

</settings>
